*{
    margin: 0;
    padding: 0;
}
.container-slide{
    justify-content: space-between;
    display: flex;
    width: 50vw;
    height: 48vh;
    background-color: black;
    margin:20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}
.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden ;
}
.item{
    width: 50vw;
    height: 50vw;
    transition: all 1s;
}
.item img{
    width: 50vw;
    height: 28vw;
    border-radius: 10px;
}
.item:first-child{
    margin-left: -100%;
}
.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none; /*pra ser selecionado só se ir pra lá com cursor*/
    z-index: 1;
}
.action-button:hover{
    color: white;
    background-color: #00000066;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;

}